
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Club Fútbol Elite
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <!-- CABECERA -->

    <header>

        <div class="logo">

            <div class="logo-ball">
                ⚽
            </div>

            <div>

                CLUB

                <span>
                    FÚTBOL ELITE
                </span>

            </div>

        </div>

        <nav>

            <a href="{{ url_for('index') }}">
                Inicio
            </a>

            <a href="{{ url_for('index') }}#historia">
                Historia
            </a>

            <a href="{{ url_for('index') }}#torneos">
                Torneos
            </a>

            <a href="{{ url_for('index') }}#trivia">
                Trivia
            </a>

        </nav>

    </header>


    <!-- CONTENIDO PRINCIPAL -->

    <main>

        {% block content %}

        {% endblock %}

    </main>


    <!-- PIE DE PÁGINA -->

    <footer>

        <h3>
            ⚽ CLUB FÚTBOL ELITE
        </h3>

        <p>
            Pasión, historia y conocimiento del fútbol.
        </p>

        <p>
            Página educativa desarrollada con
            Python, Flask, SQLite, HTML y CSS.
        </p>

        <small>
            © 2026 Club Fútbol Elite.
        </small>

    </footer>

</body>

</html>
